.table {
    border-collapse: collapse;
}
.table tr {
    background-color:rgb(24,46,66);
    color:white;
    padding:4px;
}
.table tr th,.table tr td {
    padding:12px;
}
.table tr:nth-child(odd) {
    background-color: rgb(29,53,77);
}